# Database
DATABASE_URL="postgresql://user:password@localhost:5432/music_rights_db"

# NextAuth Configuration
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-here-generate-with-openssl-rand-base64-32"

# Auth provider (optional - for production)
GITHUB_ID=""
GITHUB_SECRET=""
